{{! Navigation partial }}
<nav role="navigation" class="layout__navigation">
	<ul class="navigation navigation__primary">
      <li><a class="navigation__primary__link" href="{{@blog.url}}">Front Page</a></li>
      <li><a class="navigation__primary__link" href="{{@blog.url}}/services">Design + Print</a></li>
	    <li><a class="navigation__primary__link" href="{{@blog.url}}/research">Research & Scholarship</a></li>
      <li><a class="navigation__primary__link" href="{{@blog.url}}/about">About</a></li>
      <li><a class="navigation__primary__link" href="{{@blog.url}}/mission">Mission</a></li>
	    <li><a class="navigation__primary__link menu-close" href="javascript:void(0)">Close</a></li>
	</ul>
</nav>